@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior: smooth;

  /* Reserve equal space on both sides for the scrollbar */
  scrollbar-gutter: stable both-edges;
}

body {
  font-family: var(--font-sans);
  background-color: #faf9f6;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #faf9f6;
}

::-webkit-scrollbar-thumb {
  background: #faf9f6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
@layer base {
  ::selection {
    background-color: #000000;
    color: #faf9f6;
  }
}
